.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.list-container {
  width: 45%;
  border: 5px solid black;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.employee, .team-member {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.employee.added {
  background-color: lightgrey;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn {
  background-color: blue;
  color: white;
}

.remove-btn {
  background-color: red;
  color: white;
}

.sort-btn {
  background-color: rgb(215, 192, 255);
  color: white;
  margin-bottom: 10px;
}

.average-age {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
